braintree==3.58.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
peewee==3.13.1
peewee-db-evolve==3.7.3
postgres==3.0.0
psycopg2-binary==2.8.4
psycopg2-pool==1.1
python-dotenv==0.10.5
requests==2.22.0
six==1.14.0
urllib3==1.25.8
Werkzeug==0.16.1
